<div class=" content">
    <div class=" row">
      <div class=" col-lg-4">
        <div class=" card card-chart">
          <div class=" card-header">
            <h5 class=" card-category">Datos del sensor</h5>
            <h3 class=" card-title">
              <i class=" tim-icons icon-sound-wave text-success"> </i> Sensor Temperatura 1
            </h3>
          </div>
          <div class=" card-body">
            <div class=" chart-area"><canvas id="chartLineGreen"> </canvas></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  